*{
	/*
	CSS Reset
		resets the premade margins and padding by browser. it is better to manipulate the elements using 0 margins/paddings
	*/
	margin: 0;
	padding: 0;
	/* 
		without the box-sizing- the browser will usr the default method of computing the dimension of the 
			border+padding+content width/ height
			for div1: ;
			2px lb/tb+20pxlp/tp+100px w/height+20px rp/lp up+2px rb/lb

		box sizing- determines how the dimensions of a box will be computed. the borde and padding will be included in the height and length of the  element
	*/
	box-sizing: border-box;
}

body{
	font-family: Open San, sans-serif;
}

#div1{
	/* margin is the space outside the element/space ooutside the border of the element
	padding is the space between the content box and the border
	
	*/
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
}

#div2{
	/* 
		margin: height width;
		margin: (top right and left) bottom;
		margin: top right bottom left; */
	/*margin: 10px 70px 50px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
		/* the contents of the element will be aligned to the top of the box */
	vertical-align: top;
}

#span1{
	/* no padding- will cause the browswe to start measuring the dimensions of the element from the ttop-most and left-most portion of the element */
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}