/*CSS Reset*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: Open Sans, sans-serif;
}

nav{
	margin-bottom: 2rem;
	padding: .8rem;
	border-bottom: 1px solid gray;
}

nav>ul{
	list-style-type: none;
}

/* , - multiple selectors; used to selec multiple selectors with didd tupe */
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/* font-weight - declare the the thickness of the text*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	/*percentage value in width means that the element will occupy the 30% of the viewporth width*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 120px;
}

#info h3{
	margin-bottom: 1rem;
}